{{- define "breadcrumb" -}}
{{- if .Parent -}}
{{- template "breadcrumb" .Parent -}}
{{- end -}}
{{- if .Title }}<a class="keyword" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> » {{ end -}}
{{- end -}}

<article>

{{- if or .Title .Params.changes -}}
<header>

{{- with .Parent }}<hgroup><h2>{{ template "breadcrumb" . }}</h2>{{ end -}}
{{- if index .Params "title-render" -}}
<h1{{ with .Title }} title="{{ . }}"{{ end }}>{{ index .Params "title-render" | markdownify }}</h1>
{{- else if .Title -}}
<h1>{{ .Title }}</h1>
{{- end -}}
{{- if .Parent }}</hgroup>{{ end -}}

{{- with .Params.changes -}}
{{- partial "changes.html" . -}}
{{- end -}}

</header>
{{- end -}}

{{- .Content -}}

</article>

