{{ if not .Site.BuildDrafts }}
<script type="text/javascript">var _paq=window._paq=window._paq||[];(function(){var u="https://track.mearie.org/";_paq.push(['trackPageView'],['enableLinkTracking'],['setTrackerUrl',u+'matomo.php'],['setSiteId','4']);var d=document,g=d.createElement('script'),s=d.getElementsByTagName('script')[0];g.type='text/javascript';g.async=true;g.src=u+'matomo.js';s.parentNode.insertBefore(g,s)})()</script>
<noscript><p><img src="https://track.mearie.org/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
{{ end }}
